body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#2F4F4F ;
    color: #2F4F4F;
    font-family: symbol;
    margin: 0;
}

.container {
    background: #008B8B;
    padding: 20px;
    border-radius: 10px;
}

#clock {
    font-size: 3rem;
    text-align: center;
}
